 
/* start css.sty */
.cmr-5{font-size:50%;}
.cmr-7{font-size:70%;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-5{font-size:50%;}
.cmsy-7{font-size:70%;}
.cmtt-10{font-family: monospace;}
.cmtt-10{font-family: monospace;}
.cmti-10{ font-style: italic;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmitt-10{font-family: monospace; font-style: italic;}
.cmbx-7{font-size:70%; font-weight: bold;}
.cmbx-7{ font-weight: bold;}
.tcbx-0700{font-size:70%;font-weight: bold;}
.tctt-1000{font-family: monospace;}
.tcrm-0500{font-size:50%;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.figure img.graphics {margin-left:10%;}
.alltt P { margin-bottom : 0em; margin-top : 0em; }
.alltt { margin-bottom : 1em; margin-top : 1em; }
dd.enumerate {margin-left: 2em;}
dt.enumerate {float:left; clear:left; margin-right:0.5em; margin-left:0.5em; text-align:right; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:100%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
div.verbatiminput {font-family: monospace; white-space: nowrap; }
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
span#colorbox17{background-color:;}
span#textcolor2{color:rgb(174,15,145)}
span#textcolor3{color:rgb(0,0,0)}
span#textcolor4{color:rgb(174,15,145)}
span#colorbox19{background-color:;}
span#textcolor5{color:rgb(172,148,174)}
span#textcolor6{color:rgb(87,87,87)}
span#textcolor7{color:rgb(175,90,100)}
span#textcolor8{color:rgb(174,15,145)}
span#textcolor9{color:rgb(0,0,0)}
span#textcolor10{color:rgb(174,15,145)}
span#textcolor11{color:rgb(172,148,174)}
span#textcolor12{color:rgb(187,90,100)}
span#textcolor13{color:rgb(87,87,87)}
span#textcolor14{color:rgb(172,148,174)}
span#colorbox77{background-color:;}
span#textcolor21{color:rgb(87,87,87)}
span#textcolor22{color:rgb(175,90,100)}
span#textcolor23{color:rgb(187,90,100)}
span#textcolor24{color:rgb(87,87,87)}
span#textcolor25{color:rgb(174,15,145)}
span#textcolor26{color:rgb(87,87,87)}
span#textcolor27{color:rgb(174,15,145)}
span#textcolor28{color:rgb(87,87,87)}
span#textcolor29{color:rgb(174,15,145)}
span#textcolor30{color:rgb(87,87,87)}
span#textcolor31{color:rgb(174,15,145)}
span#textcolor32{color:rgb(87,87,87)}
span#textcolor33{color:rgb(87,87,87)}
span#textcolor34{color:rgb(175,90,100)}
span#textcolor35{color:rgb(187,90,100)}
span#textcolor36{color:rgb(87,87,87)}
span#textcolor37{color:rgb(48,125,204)}
span#textcolor38{color:rgb(87,87,87)}
span#textcolor39{color:rgb(48,125,204)}
span#textcolor40{color:rgb(87,87,87)}
span#textcolor41{color:rgb(48,125,204)}
span#textcolor42{color:rgb(87,87,87)}
span#textcolor43{color:rgb(174,15,145)}
span#textcolor44{color:rgb(87,87,87)}
span#textcolor45{color:rgb(87,87,87)}
span#textcolor46{color:rgb(175,90,100)}
span#textcolor47{color:rgb(187,90,100)}
span#textcolor48{color:rgb(87,87,87)}
span#textcolor49{color:rgb(174,15,145)}
span#textcolor50{color:rgb(87,87,87)}
span#textcolor51{color:rgb(174,15,145)}
span#textcolor52{color:rgb(87,87,87)}
span#textcolor53{color:rgb(174,15,145)}
span#textcolor54{color:rgb(87,87,87)}
span#textcolor55{color:rgb(174,15,145)}
span#textcolor56{color:rgb(87,87,87)}
span#textcolor57{color:rgb(87,87,87)}
span#textcolor58{color:rgb(175,90,100)}
span#textcolor59{color:rgb(187,90,100)}
span#textcolor60{color:rgb(87,87,87)}
span#textcolor61{color:rgb(187,90,100)}
span#textcolor62{color:rgb(87,87,87)}
span#textcolor63{color:rgb(175,90,100)}
span#textcolor64{color:rgb(187,90,100)}
span#textcolor65{color:rgb(87,87,87)}
span#textcolor66{color:rgb(48,125,204)}
span#textcolor67{color:rgb(87,87,87)}
span#textcolor68{color:rgb(48,125,204)}
span#textcolor69{color:rgb(87,87,87)}
span#textcolor70{color:rgb(48,125,204)}
span#textcolor71{color:rgb(87,87,87)}
span#textcolor72{color:rgb(172,148,174)}
span#textcolor73{color:rgb(187,90,100)}
span#textcolor74{color:rgb(87,87,87)}
span#colorbox79{background-color:;}
span#colorbox89{background-color:;}
span#textcolor81{color:rgb(87,87,87)}
span#textcolor82{color:rgb(175,90,100)}
span#textcolor83{color:rgb(187,90,100)}
span#textcolor84{color:rgb(87,87,87)}
span#textcolor85{color:rgb(187,90,100)}
span#textcolor86{color:rgb(87,87,87)}
span#colorbox91{background-color:;}
span#colorbox94{background-color:;}
span#colorbox110{background-color:;}
span#textcolor96{color:rgb(87,87,87)}
span#textcolor97{color:rgb(175,90,100)}
span#textcolor98{color:rgb(187,90,100)}
span#textcolor99{color:rgb(87,87,87)}
span#textcolor100{color:rgb(187,90,100)}
span#textcolor101{color:rgb(87,87,87)}
span#textcolor102{color:rgb(187,90,100)}
span#textcolor103{color:rgb(87,87,87)}
span#textcolor104{color:rgb(0,0,0)}
span#textcolor105{color:rgb(174,15,145)}
span#textcolor106{color:rgb(87,87,87)}
span#textcolor107{color:rgb(174,15,145)}
span#textcolor108{color:rgb(87,87,87)}
span#colorbox142{background-color:;}
span#textcolor112{color:rgb(87,87,87)}
span#textcolor113{color:rgb(175,90,100)}
span#textcolor114{color:rgb(187,90,100)}
span#textcolor115{color:rgb(87,87,87)}
span#textcolor116{color:rgb(0,0,0)}
span#textcolor117{color:rgb(87,87,87)}
span#textcolor118{color:rgb(0,0,0)}
span#textcolor119{color:rgb(48,125,204)}
span#textcolor120{color:rgb(87,87,87)}
span#textcolor121{color:rgb(87,87,87)}
span#textcolor122{color:rgb(0,0,0)}
span#textcolor123{color:rgb(87,87,87)}
span#textcolor124{color:rgb(174,15,145)}
span#textcolor125{color:rgb(0,0,0)}
span#textcolor126{color:rgb(174,15,145)}
span#textcolor127{color:rgb(87,87,87)}
span#textcolor128{color:rgb(175,90,100)}
span#textcolor129{color:rgb(48,125,204)}
span#textcolor130{color:rgb(87,87,87)}
span#textcolor131{color:rgb(0,0,0)}
span#textcolor132{color:rgb(87,87,87)}
span#textcolor133{color:rgb(0,0,0)}
span#textcolor134{color:rgb(174,15,145)}
span#textcolor135{color:rgb(87,87,87)}
span#textcolor136{color:rgb(0,0,0)}
span#textcolor137{color:rgb(174,15,145)}
span#textcolor138{color:rgb(87,87,87)}
span#textcolor139{color:rgb(175,90,100)}
span#textcolor140{color:rgb(48,125,204)}
span#colorbox146{background-color:;}
span#colorbox149{background-color:;}
span#colorbox152{background-color:;}
span#colorbox154{background-color:;}
span#colorbox216{background-color:;}
span#textcolor156{color:rgb(187,90,100)}
span#textcolor157{color:rgb(87,87,87)}
span#colorbox218{background-color:;}
span#textcolor158{color:rgb(87,87,87)}
span#textcolor159{color:rgb(0,0,0)}
span#textcolor160{color:rgb(87,87,87)}
span#textcolor161{color:rgb(175,90,100)}
span#textcolor162{color:rgb(187,90,100)}
span#textcolor163{color:rgb(87,87,87)}
span#textcolor164{color:rgb(0,0,0)}
span#textcolor165{color:rgb(87,87,87)}
span#textcolor166{color:rgb(48,125,204)}
span#textcolor167{color:rgb(87,87,87)}
span#textcolor168{color:rgb(48,125,204)}
span#textcolor169{color:rgb(87,87,87)}
span#textcolor170{color:rgb(87,87,87)}
span#textcolor171{color:rgb(0,0,0)}
span#textcolor172{color:rgb(87,87,87)}
span#textcolor173{color:rgb(175,90,100)}
span#textcolor174{color:rgb(187,90,100)}
span#textcolor175{color:rgb(87,87,87)}
span#textcolor176{color:rgb(0,0,0)}
span#textcolor177{color:rgb(87,87,87)}
span#textcolor178{color:rgb(48,125,204)}
span#textcolor179{color:rgb(87,87,87)}
span#textcolor180{color:rgb(48,125,204)}
span#textcolor181{color:rgb(87,87,87)}
span#textcolor182{color:rgb(87,87,87)}
span#textcolor183{color:rgb(0,0,0)}
span#textcolor184{color:rgb(87,87,87)}
span#textcolor185{color:rgb(175,90,100)}
span#textcolor186{color:rgb(187,90,100)}
span#textcolor187{color:rgb(87,87,87)}
span#textcolor188{color:rgb(0,0,0)}
span#textcolor189{color:rgb(87,87,87)}
span#textcolor190{color:rgb(48,125,204)}
span#textcolor191{color:rgb(87,87,87)}
span#textcolor192{color:rgb(48,125,204)}
span#textcolor193{color:rgb(87,87,87)}
span#textcolor194{color:rgb(87,87,87)}
span#textcolor195{color:rgb(0,0,0)}
span#textcolor196{color:rgb(87,87,87)}
span#textcolor197{color:rgb(175,90,100)}
span#textcolor198{color:rgb(187,90,100)}
span#textcolor199{color:rgb(87,87,87)}
span#textcolor200{color:rgb(0,0,0)}
span#textcolor201{color:rgb(87,87,87)}
span#textcolor202{color:rgb(48,125,204)}
span#textcolor203{color:rgb(87,87,87)}
span#textcolor204{color:rgb(48,125,204)}
span#textcolor205{color:rgb(87,87,87)}
span#textcolor206{color:rgb(87,87,87)}
span#textcolor207{color:rgb(0,0,0)}
span#textcolor208{color:rgb(87,87,87)}
span#textcolor209{color:rgb(175,90,100)}
span#textcolor210{color:rgb(187,90,100)}
span#textcolor211{color:rgb(87,87,87)}
span#textcolor212{color:rgb(0,0,0)}
span#textcolor213{color:rgb(87,87,87)}
span#colorbox245{background-color:;}
span#colorbox247{background-color:;}
span#textcolor220{color:rgb(187,90,100)}
span#textcolor221{color:rgb(87,87,87)}
span#textcolor222{color:rgb(48,125,204)}
span#textcolor223{color:rgb(87,87,87)}
span#textcolor224{color:rgb(172,148,174)}
span#textcolor225{color:rgb(87,87,87)}
span#textcolor226{color:rgb(175,90,100)}
span#textcolor227{color:rgb(187,90,100)}
span#textcolor228{color:rgb(87,87,87)}
span#textcolor229{color:rgb(48,125,204)}
span#textcolor230{color:rgb(87,87,87)}
span#textcolor231{color:rgb(84,170,84)}
span#textcolor232{color:rgb(87,87,87)}
span#textcolor233{color:rgb(48,125,204)}
span#textcolor234{color:rgb(87,87,87)}
span#textcolor235{color:rgb(84,170,84)}
span#textcolor236{color:rgb(87,87,87)}
span#textcolor237{color:rgb(174,15,145)}
span#textcolor238{color:rgb(87,87,87)}
span#textcolor239{color:rgb(84,170,84)}
span#textcolor240{color:rgb(87,87,87)}
span#textcolor241{color:rgb(174,15,145)}
span#textcolor242{color:rgb(87,87,87)}
span#colorbox256{background-color:;}
span#textcolor249{color:rgb(187,90,100)}
span#textcolor250{color:rgb(87,87,87)}
span#textcolor251{color:rgb(174,15,145)}
span#textcolor252{color:rgb(0,0,0)}
span#textcolor253{color:rgb(174,15,145)}
span#textcolor254{color:rgb(87,87,87)}
span#colorbox317{background-color:;}
span#textcolor258{color:rgb(87,87,87)}
span#textcolor259{color:rgb(175,90,100)}
span#textcolor260{color:rgb(187,90,100)}
span#textcolor261{color:rgb(87,87,87)}
span#textcolor262{color:rgb(48,125,204)}
span#textcolor263{color:rgb(87,87,87)}
span#textcolor264{color:rgb(84,170,84)}
span#textcolor265{color:rgb(87,87,87)}
span#textcolor266{color:rgb(48,125,204)}
span#textcolor267{color:rgb(87,87,87)}
span#textcolor268{color:rgb(84,170,84)}
span#textcolor269{color:rgb(87,87,87)}
span#textcolor270{color:rgb(174,15,145)}
span#textcolor271{color:rgb(87,87,87)}
span#textcolor272{color:rgb(84,170,84)}
span#textcolor273{color:rgb(87,87,87)}
span#textcolor274{color:rgb(174,15,145)}
span#textcolor275{color:rgb(87,87,87)}
span#textcolor276{color:rgb(84,170,84)}
span#textcolor277{color:rgb(87,87,87)}
span#textcolor278{color:rgb(174,15,145)}
span#textcolor279{color:rgb(87,87,87)}
span#textcolor280{color:rgb(84,170,84)}
span#textcolor281{color:rgb(87,87,87)}
span#textcolor282{color:rgb(187,90,100)}
span#textcolor283{color:rgb(87,87,87)}
span#textcolor284{color:rgb(174,15,145)}
span#textcolor285{color:rgb(0,0,0)}
span#textcolor286{color:rgb(174,15,145)}
span#textcolor287{color:rgb(87,87,87)}
span#textcolor288{color:rgb(84,170,84)}
span#textcolor289{color:rgb(87,87,87)}
span#textcolor290{color:rgb(174,15,145)}
span#textcolor291{color:rgb(87,87,87)}
span#textcolor292{color:rgb(84,170,84)}
span#textcolor293{color:rgb(87,87,87)}
span#textcolor294{color:rgb(187,90,100)}
span#textcolor295{color:rgb(87,87,87)}
span#textcolor296{color:rgb(48,125,204)}
span#textcolor297{color:rgb(87,87,87)}
span#textcolor298{color:rgb(48,125,204)}
span#textcolor299{color:rgb(87,87,87)}
span#textcolor300{color:rgb(48,125,204)}
span#textcolor301{color:rgb(87,87,87)}
span#textcolor302{color:rgb(187,90,100)}
span#textcolor303{color:rgb(87,87,87)}
span#textcolor304{color:rgb(48,125,204)}
span#textcolor305{color:rgb(87,87,87)}
span#textcolor306{color:rgb(174,15,145)}
span#textcolor307{color:rgb(87,87,87)}
span#textcolor308{color:rgb(84,170,84)}
span#textcolor309{color:rgb(87,87,87)}
span#textcolor310{color:rgb(174,15,145)}
span#textcolor311{color:rgb(87,87,87)}
span#textcolor312{color:rgb(187,90,100)}
span#textcolor313{color:rgb(87,87,87)}
span#textcolor314{color:rgb(187,90,100)}
span#textcolor315{color:rgb(87,87,87)}
span#colorbox382{background-color:;}
span#textcolor319{color:rgb(87,87,87)}
span#textcolor320{color:rgb(175,90,100)}
span#textcolor321{color:rgb(187,90,100)}
span#textcolor322{color:rgb(87,87,87)}
span#textcolor323{color:rgb(48,125,204)}
span#textcolor324{color:rgb(87,87,87)}
span#textcolor325{color:rgb(84,170,84)}
span#textcolor326{color:rgb(87,87,87)}
span#textcolor327{color:rgb(48,125,204)}
span#textcolor328{color:rgb(87,87,87)}
span#textcolor329{color:rgb(84,170,84)}
span#textcolor330{color:rgb(87,87,87)}
span#textcolor331{color:rgb(174,15,145)}
span#textcolor332{color:rgb(87,87,87)}
span#textcolor333{color:rgb(84,170,84)}
span#textcolor334{color:rgb(87,87,87)}
span#textcolor335{color:rgb(174,15,145)}
span#textcolor336{color:rgb(87,87,87)}
span#textcolor337{color:rgb(84,170,84)}
span#textcolor338{color:rgb(87,87,87)}
span#textcolor339{color:rgb(174,15,145)}
span#textcolor340{color:rgb(87,87,87)}
span#textcolor341{color:rgb(84,170,84)}
span#textcolor342{color:rgb(87,87,87)}
span#textcolor343{color:rgb(187,90,100)}
span#textcolor344{color:rgb(87,87,87)}
span#textcolor345{color:rgb(174,15,145)}
span#textcolor346{color:rgb(0,0,0)}
span#textcolor347{color:rgb(174,15,145)}
span#textcolor348{color:rgb(87,87,87)}
span#textcolor349{color:rgb(84,170,84)}
span#textcolor350{color:rgb(87,87,87)}
span#textcolor351{color:rgb(174,15,145)}
span#textcolor352{color:rgb(87,87,87)}
span#textcolor353{color:rgb(84,170,84)}
span#textcolor354{color:rgb(87,87,87)}
span#textcolor355{color:rgb(187,90,100)}
span#textcolor356{color:rgb(87,87,87)}
span#textcolor357{color:rgb(48,125,204)}
span#textcolor358{color:rgb(87,87,87)}
span#textcolor359{color:rgb(187,90,100)}
span#textcolor360{color:rgb(87,87,87)}
span#textcolor361{color:rgb(48,125,204)}
span#textcolor362{color:rgb(87,87,87)}
span#textcolor363{color:rgb(174,15,145)}
span#textcolor364{color:rgb(87,87,87)}
span#textcolor365{color:rgb(48,125,204)}
span#textcolor366{color:rgb(87,87,87)}
span#textcolor367{color:rgb(187,90,100)}
span#textcolor368{color:rgb(87,87,87)}
span#textcolor369{color:rgb(48,125,204)}
span#textcolor370{color:rgb(87,87,87)}
span#textcolor371{color:rgb(174,15,145)}
span#textcolor372{color:rgb(87,87,87)}
span#textcolor373{color:rgb(187,90,100)}
span#textcolor374{color:rgb(87,87,87)}
span#textcolor375{color:rgb(48,125,204)}
span#textcolor376{color:rgb(87,87,87)}
span#textcolor377{color:rgb(174,15,145)}
span#textcolor378{color:rgb(87,87,87)}
span#textcolor379{color:rgb(187,90,100)}
span#textcolor380{color:rgb(87,87,87)}
span#colorbox411{background-color:;}
span#textcolor384{color:rgb(87,87,87)}
span#textcolor385{color:rgb(175,90,100)}
span#textcolor386{color:rgb(87,87,87)}
span#textcolor387{color:rgb(87,87,87)}
span#textcolor388{color:rgb(0,0,0)}
span#textcolor389{color:rgb(87,87,87)}
span#textcolor390{color:rgb(175,90,100)}
span#textcolor391{color:rgb(187,90,100)}
span#textcolor392{color:rgb(87,87,87)}
span#textcolor393{color:rgb(0,0,0)}
span#textcolor394{color:rgb(87,87,87)}
span#textcolor395{color:rgb(48,125,204)}
span#textcolor396{color:rgb(87,87,87)}
span#textcolor397{color:rgb(87,87,87)}
span#textcolor398{color:rgb(0,0,0)}
span#textcolor399{color:rgb(87,87,87)}
span#textcolor400{color:rgb(175,90,100)}
span#textcolor401{color:rgb(187,90,100)}
span#textcolor402{color:rgb(87,87,87)}
span#textcolor403{color:rgb(0,0,0)}
span#textcolor404{color:rgb(87,87,87)}
span#textcolor405{color:rgb(48,125,204)}
span#textcolor406{color:rgb(87,87,87)}
span#textcolor407{color:rgb(172,148,174)}
span#textcolor408{color:rgb(187,90,100)}
span#textcolor409{color:rgb(87,87,87)}
span#colorbox505{background-color:;}
span#textcolor413{color:rgb(87,87,87)}
span#textcolor414{color:rgb(175,90,100)}
span#textcolor415{color:rgb(87,87,87)}
span#textcolor416{color:rgb(87,87,87)}
span#textcolor417{color:rgb(0,0,0)}
span#textcolor418{color:rgb(87,87,87)}
span#textcolor419{color:rgb(175,90,100)}
span#textcolor420{color:rgb(187,90,100)}
span#textcolor421{color:rgb(87,87,87)}
span#textcolor422{color:rgb(0,0,0)}
span#textcolor423{color:rgb(87,87,87)}
span#textcolor424{color:rgb(48,125,204)}
span#textcolor425{color:rgb(87,87,87)}
span#textcolor426{color:rgb(87,87,87)}
span#textcolor427{color:rgb(175,90,100)}
span#textcolor428{color:rgb(187,90,100)}
span#textcolor429{color:rgb(87,87,87)}
span#textcolor430{color:rgb(0,0,0)}
span#textcolor431{color:rgb(87,87,87)}
span#textcolor432{color:rgb(48,125,204)}
span#textcolor433{color:rgb(87,87,87)}
span#textcolor434{color:rgb(87,87,87)}
span#textcolor435{color:rgb(175,90,100)}
span#textcolor436{color:rgb(187,90,100)}
span#textcolor437{color:rgb(87,87,87)}
span#textcolor438{color:rgb(0,0,0)}
span#textcolor439{color:rgb(87,87,87)}
span#textcolor440{color:rgb(48,125,204)}
span#textcolor441{color:rgb(87,87,87)}
span#textcolor442{color:rgb(87,87,87)}
span#textcolor443{color:rgb(0,0,0)}
span#textcolor444{color:rgb(87,87,87)}
span#textcolor445{color:rgb(175,90,100)}
span#textcolor446{color:rgb(187,90,100)}
span#textcolor447{color:rgb(87,87,87)}
span#textcolor448{color:rgb(187,90,100)}
span#textcolor449{color:rgb(87,87,87)}
span#textcolor450{color:rgb(0,0,0)}
span#textcolor451{color:rgb(187,90,100)}
span#textcolor452{color:rgb(87,87,87)}
span#textcolor453{color:rgb(187,90,100)}
span#textcolor454{color:rgb(87,87,87)}
span#textcolor455{color:rgb(187,90,100)}
span#textcolor456{color:rgb(87,87,87)}
span#textcolor457{color:rgb(84,170,84)}
span#textcolor458{color:rgb(87,87,87)}
span#textcolor459{color:rgb(48,125,204)}
span#textcolor460{color:rgb(87,87,87)}
span#textcolor461{color:rgb(87,87,87)}
span#textcolor462{color:rgb(0,0,0)}
span#textcolor463{color:rgb(87,87,87)}
span#textcolor464{color:rgb(175,90,100)}
span#textcolor465{color:rgb(187,90,100)}
span#textcolor466{color:rgb(87,87,87)}
span#textcolor467{color:rgb(0,0,0)}
span#textcolor468{color:rgb(87,87,87)}
span#textcolor469{color:rgb(87,87,87)}
span#textcolor470{color:rgb(0,0,0)}
span#textcolor471{color:rgb(87,87,87)}
span#textcolor472{color:rgb(175,90,100)}
span#textcolor473{color:rgb(187,90,100)}
span#textcolor474{color:rgb(87,87,87)}
span#textcolor475{color:rgb(0,0,0)}
span#textcolor476{color:rgb(87,87,87)}
span#textcolor477{color:rgb(87,87,87)}
span#textcolor478{color:rgb(175,90,100)}
span#textcolor479{color:rgb(187,90,100)}
span#textcolor480{color:rgb(87,87,87)}
span#textcolor481{color:rgb(41,95,147)}
span#textcolor482{color:rgb(87,87,87)}
span#textcolor483{color:rgb(84,170,84)}
span#textcolor484{color:rgb(87,87,87)}
span#textcolor485{color:rgb(187,90,100)}
span#textcolor486{color:rgb(87,87,87)}
span#textcolor487{color:rgb(187,90,100)}
span#textcolor488{color:rgb(87,87,87)}
span#textcolor489{color:rgb(187,90,100)}
span#textcolor490{color:rgb(87,87,87)}
span#textcolor491{color:rgb(187,90,100)}
span#textcolor492{color:rgb(87,87,87)}
span#textcolor493{color:rgb(87,87,87)}
span#colorbox507{background-color:;}
span#textcolor494{color:rgb(87,87,87)}
span#textcolor495{color:rgb(175,90,100)}
span#textcolor496{color:rgb(87,87,87)}
span#textcolor497{color:rgb(0,0,0)}
span#textcolor498{color:rgb(87,87,87)}
span#textcolor499{color:rgb(0,0,0)}
span#textcolor500{color:rgb(87,87,87)}
span#textcolor501{color:rgb(0,0,0)}
span#textcolor502{color:rgb(87,87,87)}
span#colorbox570{background-color:;}
span#textcolor509{color:rgb(187,90,100)}
span#textcolor510{color:rgb(87,87,87)}
span#textcolor511{color:rgb(87,87,87)}
span#textcolor512{color:rgb(0,0,0)}
span#textcolor513{color:rgb(87,87,87)}
span#textcolor514{color:rgb(175,90,100)}
span#textcolor515{color:rgb(187,90,100)}
span#textcolor516{color:rgb(87,87,87)}
span#textcolor517{color:rgb(0,0,0)}
span#textcolor518{color:rgb(87,87,87)}
span#textcolor519{color:rgb(48,125,204)}
span#textcolor520{color:rgb(87,87,87)}
span#textcolor521{color:rgb(48,125,204)}
span#textcolor522{color:rgb(87,87,87)}
span#textcolor523{color:rgb(87,87,87)}
span#textcolor524{color:rgb(0,0,0)}
span#textcolor525{color:rgb(87,87,87)}
span#textcolor526{color:rgb(175,90,100)}
span#textcolor527{color:rgb(187,90,100)}
span#textcolor528{color:rgb(87,87,87)}
span#textcolor529{color:rgb(0,0,0)}
span#textcolor530{color:rgb(87,87,87)}
span#textcolor531{color:rgb(48,125,204)}
span#textcolor532{color:rgb(87,87,87)}
span#textcolor533{color:rgb(48,125,204)}
span#textcolor534{color:rgb(87,87,87)}
span#textcolor535{color:rgb(87,87,87)}
span#textcolor536{color:rgb(0,0,0)}
span#textcolor537{color:rgb(87,87,87)}
span#textcolor538{color:rgb(175,90,100)}
span#textcolor539{color:rgb(187,90,100)}
span#textcolor540{color:rgb(87,87,87)}
span#textcolor541{color:rgb(0,0,0)}
span#textcolor542{color:rgb(87,87,87)}
span#textcolor543{color:rgb(48,125,204)}
span#textcolor544{color:rgb(87,87,87)}
span#textcolor545{color:rgb(48,125,204)}
span#textcolor546{color:rgb(87,87,87)}
span#textcolor547{color:rgb(87,87,87)}
span#textcolor548{color:rgb(0,0,0)}
span#textcolor549{color:rgb(87,87,87)}
span#textcolor550{color:rgb(175,90,100)}
span#textcolor551{color:rgb(187,90,100)}
span#textcolor552{color:rgb(87,87,87)}
span#textcolor553{color:rgb(0,0,0)}
span#textcolor554{color:rgb(87,87,87)}
span#textcolor555{color:rgb(48,125,204)}
span#textcolor556{color:rgb(87,87,87)}
span#textcolor557{color:rgb(48,125,204)}
span#textcolor558{color:rgb(87,87,87)}
span#textcolor559{color:rgb(87,87,87)}
span#textcolor560{color:rgb(0,0,0)}
span#textcolor561{color:rgb(87,87,87)}
span#textcolor562{color:rgb(175,90,100)}
span#textcolor563{color:rgb(187,90,100)}
span#textcolor564{color:rgb(87,87,87)}
span#textcolor565{color:rgb(0,0,0)}
span#textcolor566{color:rgb(87,87,87)}
span#textcolor567{color:rgb(187,90,100)}
span#textcolor568{color:rgb(87,87,87)}
span#colorbox651{background-color:;}
span#textcolor572{color:rgb(87,87,87)}
span#textcolor573{color:rgb(175,90,100)}
span#textcolor574{color:rgb(87,87,87)}
span#textcolor575{color:rgb(174,15,145)}
span#textcolor576{color:rgb(0,0,0)}
span#textcolor577{color:rgb(174,15,145)}
span#textcolor578{color:rgb(87,87,87)}
span#textcolor579{color:rgb(87,87,87)}
span#textcolor580{color:rgb(175,90,100)}
span#textcolor581{color:rgb(87,87,87)}
span#textcolor582{color:rgb(174,15,145)}
span#textcolor583{color:rgb(0,0,0)}
span#textcolor584{color:rgb(174,15,145)}
span#textcolor585{color:rgb(87,87,87)}
span#textcolor586{color:rgb(87,87,87)}
span#textcolor587{color:rgb(175,90,100)}
span#textcolor588{color:rgb(187,90,100)}
span#textcolor589{color:rgb(87,87,87)}
span#textcolor590{color:rgb(84,170,84)}
span#textcolor591{color:rgb(87,87,87)}
span#textcolor592{color:rgb(48,125,204)}
span#textcolor593{color:rgb(87,87,87)}
span#textcolor594{color:rgb(84,170,84)}
span#textcolor595{color:rgb(87,87,87)}
span#textcolor596{color:rgb(48,125,204)}
span#textcolor597{color:rgb(87,87,87)}
span#textcolor598{color:rgb(87,87,87)}
span#textcolor599{color:rgb(175,90,100)}
span#textcolor600{color:rgb(187,90,100)}
span#textcolor601{color:rgb(87,87,87)}
span#textcolor602{color:rgb(84,170,84)}
span#textcolor603{color:rgb(87,87,87)}
span#textcolor604{color:rgb(187,90,100)}
span#textcolor605{color:rgb(87,87,87)}
span#textcolor606{color:rgb(48,125,204)}
span#textcolor607{color:rgb(87,87,87)}
span#textcolor608{color:rgb(48,125,204)}
span#textcolor609{color:rgb(87,87,87)}
span#textcolor610{color:rgb(48,125,204)}
span#textcolor611{color:rgb(87,87,87)}
span#textcolor612{color:rgb(84,170,84)}
span#textcolor613{color:rgb(87,87,87)}
span#textcolor614{color:rgb(187,90,100)}
span#textcolor615{color:rgb(87,87,87)}
span#textcolor616{color:rgb(48,125,204)}
span#textcolor617{color:rgb(87,87,87)}
span#textcolor618{color:rgb(48,125,204)}
span#textcolor619{color:rgb(87,87,87)}
span#textcolor620{color:rgb(48,125,204)}
span#textcolor621{color:rgb(87,87,87)}
span#textcolor622{color:rgb(87,87,87)}
span#textcolor623{color:rgb(175,90,100)}
span#textcolor624{color:rgb(187,90,100)}
span#textcolor625{color:rgb(87,87,87)}
span#textcolor626{color:rgb(84,170,84)}
span#textcolor627{color:rgb(87,87,87)}
span#textcolor628{color:rgb(187,90,100)}
span#textcolor629{color:rgb(87,87,87)}
span#textcolor630{color:rgb(48,125,204)}
span#textcolor631{color:rgb(87,87,87)}
span#textcolor632{color:rgb(48,125,204)}
span#textcolor633{color:rgb(87,87,87)}
span#textcolor634{color:rgb(48,125,204)}
span#textcolor635{color:rgb(87,87,87)}
span#textcolor636{color:rgb(48,125,204)}
span#textcolor637{color:rgb(87,87,87)}
span#textcolor638{color:rgb(84,170,84)}
span#textcolor639{color:rgb(87,87,87)}
span#textcolor640{color:rgb(187,90,100)}
span#textcolor641{color:rgb(87,87,87)}
span#textcolor642{color:rgb(48,125,204)}
span#textcolor643{color:rgb(87,87,87)}
span#textcolor644{color:rgb(48,125,204)}
span#textcolor645{color:rgb(87,87,87)}
span#textcolor646{color:rgb(48,125,204)}
span#textcolor647{color:rgb(87,87,87)}
span#textcolor648{color:rgb(48,125,204)}
span#textcolor649{color:rgb(87,87,87)}
span#colorbox832{background-color:;}
span#textcolor653{color:rgb(187,90,100)}
span#textcolor654{color:rgb(87,87,87)}
span#colorbox835{background-color:;}
span#textcolor655{color:rgb(87,87,87)}
span#textcolor656{color:rgb(175,90,100)}
span#textcolor657{color:rgb(187,90,100)}
span#textcolor658{color:rgb(87,87,87)}
span#textcolor659{color:rgb(174,15,145)}
span#textcolor660{color:rgb(87,87,87)}
span#textcolor661{color:rgb(174,15,145)}
span#textcolor662{color:rgb(87,87,87)}
span#textcolor663{color:rgb(87,87,87)}
span#textcolor664{color:rgb(175,90,100)}
span#textcolor665{color:rgb(187,90,100)}
span#textcolor666{color:rgb(87,87,87)}
span#textcolor667{color:rgb(172,148,174)}
span#textcolor668{color:rgb(187,90,100)}
span#textcolor669{color:rgb(87,87,87)}
span#colorbox838{background-color:;}
span#textcolor670{color:rgb(187,90,100)}
span#textcolor671{color:rgb(87,87,87)}
span#colorbox841{background-color:;}
span#textcolor672{color:rgb(172,148,174)}
span#textcolor673{color:rgb(87,87,87)}
span#textcolor674{color:rgb(175,90,100)}
span#textcolor675{color:rgb(87,87,87)}
span#textcolor676{color:rgb(187,90,100)}
span#textcolor677{color:rgb(87,87,87)}
span#textcolor678{color:rgb(174,15,145)}
span#textcolor679{color:rgb(87,87,87)}
span#textcolor680{color:rgb(174,15,145)}
span#textcolor681{color:rgb(87,87,87)}
span#textcolor682{color:rgb(174,15,145)}
span#textcolor683{color:rgb(87,87,87)}
span#textcolor684{color:rgb(174,15,145)}
span#textcolor685{color:rgb(87,87,87)}
span#textcolor686{color:rgb(174,15,145)}
span#textcolor687{color:rgb(0,0,0)}
span#textcolor688{color:rgb(174,15,145)}
span#textcolor689{color:rgb(87,87,87)}
span#textcolor690{color:rgb(87,87,87)}
span#textcolor691{color:rgb(175,90,100)}
span#textcolor692{color:rgb(87,87,87)}
span#textcolor693{color:rgb(187,90,100)}
span#textcolor694{color:rgb(87,87,87)}
span#textcolor695{color:rgb(174,15,145)}
span#textcolor696{color:rgb(0,0,0)}
span#textcolor697{color:rgb(174,15,145)}
span#textcolor698{color:rgb(87,87,87)}
span#textcolor699{color:rgb(174,15,145)}
span#textcolor700{color:rgb(0,0,0)}
span#textcolor701{color:rgb(174,15,145)}
span#textcolor702{color:rgb(87,87,87)}
span#textcolor703{color:rgb(174,15,145)}
span#textcolor704{color:rgb(0,0,0)}
span#textcolor705{color:rgb(174,15,145)}
span#textcolor706{color:rgb(87,87,87)}
span#textcolor707{color:rgb(174,15,145)}
span#textcolor708{color:rgb(0,0,0)}
span#textcolor709{color:rgb(174,15,145)}
span#textcolor710{color:rgb(87,87,87)}
span#textcolor711{color:rgb(187,90,100)}
span#textcolor712{color:rgb(87,87,87)}
span#textcolor713{color:rgb(187,90,100)}
span#textcolor714{color:rgb(87,87,87)}
span#textcolor715{color:rgb(187,90,100)}
span#textcolor716{color:rgb(87,87,87)}
span#colorbox843{background-color:;}
span#textcolor717{color:rgb(87,87,87)}
span#textcolor718{color:rgb(175,90,100)}
span#textcolor719{color:rgb(187,90,100)}
span#textcolor720{color:rgb(87,87,87)}
span#textcolor721{color:rgb(187,90,100)}
span#textcolor722{color:rgb(87,87,87)}
span#textcolor723{color:rgb(48,125,204)}
span#textcolor724{color:rgb(87,87,87)}
span#textcolor725{color:rgb(48,125,204)}
span#textcolor726{color:rgb(87,87,87)}
span#textcolor727{color:rgb(87,87,87)}
span#textcolor728{color:rgb(175,90,100)}
span#textcolor729{color:rgb(187,90,100)}
span#textcolor730{color:rgb(87,87,87)}
span#textcolor731{color:rgb(174,15,145)}
span#textcolor732{color:rgb(87,87,87)}
span#textcolor733{color:rgb(187,90,100)}
span#textcolor734{color:rgb(87,87,87)}
span#textcolor735{color:rgb(87,87,87)}
span#textcolor736{color:rgb(175,90,100)}
span#textcolor737{color:rgb(187,90,100)}
span#textcolor738{color:rgb(87,87,87)}
span#textcolor739{color:rgb(174,15,145)}
span#textcolor740{color:rgb(87,87,87)}
span#textcolor741{color:rgb(187,90,100)}
span#textcolor742{color:rgb(87,87,87)}
span#textcolor743{color:rgb(87,87,87)}
span#textcolor744{color:rgb(175,90,100)}
span#textcolor745{color:rgb(187,90,100)}
span#textcolor746{color:rgb(87,87,87)}
span#textcolor747{color:rgb(187,90,100)}
span#textcolor748{color:rgb(87,87,87)}
span#textcolor749{color:rgb(187,90,100)}
span#textcolor750{color:rgb(87,87,87)}
span#textcolor751{color:rgb(187,90,100)}
span#textcolor752{color:rgb(87,87,87)}
span#textcolor753{color:rgb(87,87,87)}
span#textcolor754{color:rgb(187,90,100)}
span#textcolor755{color:rgb(87,87,87)}
span#textcolor756{color:rgb(174,15,145)}
span#textcolor757{color:rgb(0,0,0)}
span#textcolor758{color:rgb(174,15,145)}
span#textcolor759{color:rgb(87,87,87)}
span#textcolor760{color:rgb(175,90,100)}
span#textcolor761{color:rgb(187,90,100)}
span#textcolor762{color:rgb(87,87,87)}
span#textcolor763{color:rgb(187,90,100)}
span#textcolor764{color:rgb(87,87,87)}
span#textcolor765{color:rgb(174,15,145)}
span#textcolor766{color:rgb(0,0,0)}
span#textcolor767{color:rgb(174,15,145)}
span#textcolor768{color:rgb(87,87,87)}
span#textcolor769{color:rgb(87,87,87)}
span#textcolor770{color:rgb(187,90,100)}
span#textcolor771{color:rgb(87,87,87)}
span#textcolor772{color:rgb(174,15,145)}
span#textcolor773{color:rgb(0,0,0)}
span#textcolor774{color:rgb(174,15,145)}
span#textcolor775{color:rgb(87,87,87)}
span#textcolor776{color:rgb(175,90,100)}
span#textcolor777{color:rgb(187,90,100)}
span#textcolor778{color:rgb(87,87,87)}
span#textcolor779{color:rgb(187,90,100)}
span#textcolor780{color:rgb(87,87,87)}
span#textcolor781{color:rgb(174,15,145)}
span#textcolor782{color:rgb(0,0,0)}
span#textcolor783{color:rgb(174,15,145)}
span#textcolor784{color:rgb(87,87,87)}
span#textcolor785{color:rgb(172,148,174)}
span#textcolor786{color:rgb(87,87,87)}
span#textcolor787{color:rgb(187,90,100)}
span#textcolor788{color:rgb(87,87,87)}
span#textcolor789{color:rgb(174,15,145)}
span#textcolor790{color:rgb(0,0,0)}
span#textcolor791{color:rgb(174,15,145)}
span#textcolor792{color:rgb(87,87,87)}
span#textcolor793{color:rgb(175,90,100)}
span#textcolor794{color:rgb(187,90,100)}
span#textcolor795{color:rgb(87,87,87)}
span#textcolor796{color:rgb(187,90,100)}
span#textcolor797{color:rgb(87,87,87)}
span#textcolor798{color:rgb(174,15,145)}
span#textcolor799{color:rgb(0,0,0)}
span#textcolor800{color:rgb(174,15,145)}
span#textcolor801{color:rgb(87,87,87)}
span#textcolor802{color:rgb(87,87,87)}
span#textcolor803{color:rgb(187,90,100)}
span#textcolor804{color:rgb(87,87,87)}
span#textcolor805{color:rgb(174,15,145)}
span#textcolor806{color:rgb(0,0,0)}
span#textcolor807{color:rgb(174,15,145)}
span#textcolor808{color:rgb(87,87,87)}
span#textcolor809{color:rgb(175,90,100)}
span#textcolor810{color:rgb(187,90,100)}
span#textcolor811{color:rgb(87,87,87)}
span#textcolor812{color:rgb(187,90,100)}
span#textcolor813{color:rgb(87,87,87)}
span#textcolor814{color:rgb(174,15,145)}
span#textcolor815{color:rgb(0,0,0)}
span#textcolor816{color:rgb(174,15,145)}
span#textcolor817{color:rgb(87,87,87)}
span#textcolor818{color:rgb(87,87,87)}
span#textcolor819{color:rgb(175,90,100)}
span#textcolor820{color:rgb(187,90,100)}
span#textcolor821{color:rgb(87,87,87)}
span#textcolor822{color:rgb(87,87,87)}
span#textcolor823{color:rgb(174,15,145)}
span#textcolor824{color:rgb(87,87,87)}
span#textcolor825{color:rgb(175,90,100)}
span#textcolor826{color:rgb(187,90,100)}
span#textcolor827{color:rgb(87,87,87)}
span#textcolor828{color:rgb(174,15,145)}
span#textcolor829{color:rgb(87,87,87)}
span#colorbox846{background-color:;}
span#colorbox887{background-color:;}
span#colorbox890{background-color:;}
span#textcolor848{color:rgb(87,87,87)}
span#textcolor849{color:rgb(175,90,100)}
span#textcolor850{color:rgb(187,90,100)}
span#textcolor851{color:rgb(87,87,87)}
span#textcolor852{color:rgb(187,90,100)}
span#textcolor853{color:rgb(87,87,87)}
span#textcolor854{color:rgb(84,170,84)}
span#textcolor855{color:rgb(87,87,87)}
span#textcolor856{color:rgb(48,125,204)}
span#textcolor857{color:rgb(87,87,87)}
span#textcolor858{color:rgb(172,148,174)}
span#textcolor859{color:rgb(172,148,174)}
span#textcolor860{color:rgb(187,90,100)}
span#textcolor861{color:rgb(87,87,87)}
span#colorbox893{background-color:;}
span#textcolor862{color:rgb(187,90,100)}
span#textcolor863{color:rgb(87,87,87)}
span#textcolor864{color:rgb(48,125,204)}
span#textcolor865{color:rgb(87,87,87)}
span#textcolor866{color:rgb(84,170,84)}
span#textcolor867{color:rgb(87,87,87)}
span#textcolor868{color:rgb(174,15,145)}
span#textcolor869{color:rgb(87,87,87)}
span#colorbox896{background-color:;}
span#textcolor870{color:rgb(187,90,100)}
span#textcolor871{color:rgb(87,87,87)}
span#textcolor872{color:rgb(48,125,204)}
span#textcolor873{color:rgb(87,87,87)}
span#colorbox899{background-color:;}
span#colorbox902{background-color:;}
span#colorbox905{background-color:;}
span#colorbox908{background-color:;}
span#colorbox911{background-color:;}
span#colorbox914{background-color:;}
span#colorbox917{background-color:;}
span#textcolor874{color:rgb(187,90,100)}
span#textcolor875{color:rgb(87,87,87)}
span#textcolor876{color:rgb(48,125,204)}
span#textcolor877{color:rgb(87,87,87)}
span#colorbox920{background-color:;}
span#textcolor878{color:rgb(187,90,100)}
span#textcolor879{color:rgb(87,87,87)}
span#colorbox923{background-color:;}
span#textcolor880{color:rgb(187,90,100)}
span#textcolor881{color:rgb(87,87,87)}
span#textcolor882{color:rgb(48,125,204)}
span#textcolor883{color:rgb(87,87,87)}
span#colorbox926{background-color:;}
span#colorbox929{background-color:;}
span#colorbox932{background-color:;}
span#colorbox935{background-color:;}
span#colorbox938{background-color:;}
span#colorbox940{background-color:;}
span#textcolor884{color:rgb(172,148,174)}
span#colorbox970{background-color:;}
span#textcolor942{color:rgb(87,87,87)}
span#textcolor943{color:rgb(175,90,100)}
span#textcolor944{color:rgb(87,87,87)}
span#textcolor945{color:rgb(187,90,100)}
span#textcolor946{color:rgb(87,87,87)}
span#textcolor947{color:rgb(174,15,145)}
span#textcolor948{color:rgb(87,87,87)}
span#textcolor949{color:rgb(174,15,145)}
span#textcolor950{color:rgb(87,87,87)}
span#textcolor951{color:rgb(87,87,87)}
span#textcolor952{color:rgb(175,90,100)}
span#textcolor953{color:rgb(87,87,87)}
span#textcolor954{color:rgb(187,90,100)}
span#textcolor955{color:rgb(87,87,87)}
span#textcolor956{color:rgb(174,15,145)}
span#textcolor957{color:rgb(0,0,0)}
span#textcolor958{color:rgb(174,15,145)}
span#textcolor959{color:rgb(87,87,87)}
span#textcolor960{color:rgb(87,87,87)}
span#textcolor961{color:rgb(175,90,100)}
span#textcolor962{color:rgb(87,87,87)}
span#textcolor963{color:rgb(174,15,145)}
span#textcolor964{color:rgb(87,87,87)}
span#textcolor965{color:rgb(0,0,0)}
span#textcolor966{color:rgb(87,87,87)}
span#textcolor967{color:rgb(174,15,145)}
span#textcolor968{color:rgb(87,87,87)}
/* end css.sty */

